<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" ui-sref-active="active">
					<a class="nav-link" ui-sref="index.page">Anasayfa <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item" ui-sref-active="active">
					<a class="nav-link" ui-sref="list.page" >List</a>
				</li>
			</ul>
			
		</div>
	</div>
</nav>